.services {
  background: var(--darkGrey);
  padding: 5rem 0;
  text-align: center;
}

.articles {
  width: 90vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
